name: CI

on:
  push:
  pull_request:
    branches: ["develop", "main"]

permissions:
  contents: read    

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: 18
          cache: 'npm'

      - name: Install deps
        run: npm ci

      - name: Run tests
        run: npm test