name: CI

on:
  push:
  pull_request:
    branches: ["develop", "main"]

permissions:
  contents: read    

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: 18
          cache: 'npm'

      - name: Install deps
        run: npm ci

        #Lint 
      - name: Lint
        run: npm run lint

        #type check
      - name: Type check (tsc --noEmit)
        run: npx tsc -p tsconfig.json --noEmit

        #Unit tests
      - name: Run unit tests
        run: npm test

        #E2E tests
      - name: Run E2E tests
        run: npm run test:e2e

        #Build
      - name: Build
        run: npm run build